
h1 {
    position: relative;
    text-align: center;
    color: slateblue;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-shadow: 1px 1px grey;
    font-weight: 100
}
.wtf_is_ball {
    width: 400px

}

p {
    font: 20px sans-serif; 
    font-weight: bold;
    text-align: left;
}

.content{
    max-width: 500px;
    margin: auto;
}
.ballbox{
    position: absolute;
    background-color:  black;
    margin: auto;
    width: 500px;
    height: 500px;
}

#leftbox {
    width: 250;
    background: firebrick;
    z-index: 1 ;
}

.ballstate{
    position: relative;
    margin-left: 25%

}

.ball {
    position: relative;
    margin-left: 300px;
    margin-top: 300px;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 5px grey;
    z-index: 2;
}

.ball:hover{
    box-shadow: 2px 2px 20px 5px pink; 
    background-color: aqua;
    transition-delay: 10ms;
    transition-duration: 300ms;
}